{
  "printWidth": 80,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "proseWrap": "always",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^<TYPES>^(next|next/.*)$",
    "^(next|next/.*)$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>",
    "^(@/types/.*)$",
    "",
    "^@/components/ui/.*$",
    "",
    "^(@/.*)$",
    "^(@/testing/.*)$",
    "^[.]"
  ]
}
